
/*

	Color pallete : https://lospec.com/palette-list/apollo

*/
:root{
	--bg:#292831;
	--text:#fbbbad;
	--link:#de9e41;
	--before:#333f58;
	--heading:#a8ca58;
	--heading2:#73bed3;
	--heading3:#c65197;
}

body {
	background-color:var(--bg);
	color: var(--text);
	font-family: cursive;
	font-size:1.1rem;

	max-width: 750px;
	margin: 30px auto;

	border: 1px solid white;
	box-shadow: 10px 10px;
	padding:16px;

 }

a{
	color: var(--link);
	font-style: italic;
}

h1 {
	color: var(--heading);
}

h2 {
	color: var(--heading2);
}

h3 {
	color: var(--heading3);
}

h1::before,h2::before,h3::before {
	content: "# ";
	color: #343437;
}

h1::after,h2::after,h3::after {
	content:' ';
	display: block;
	height: 4px;
	max-width: 100px;
	transform: skewX(-42deg) translateY(10px) translateX(40px);
	border-radius: 3px;
	background-color: var(--link);
}

blockquote{
	border: 1px solid var(--text);
	box-shadow: 5px 5px;


	font-style: italic;

	padding: 10px;
	margin:10px;
}

pre{
	border: 1px solid var(--text);
	box-shadow: 5px 5px;
/*	overflow: scroll;*/
	padding: 10px;
	margin:10px;
}


hr{
	max-width: 50%;
}